@model Decimal
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<html>
<body>
    <div>
        <p> Tổng doanh thu khách sạn: @Model.ToString("0,0") </p>
    </div>
</body>
</html>

