@model Decimal
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Searchs = false;
}

<html>
<body>
    <div class="content">
        <div>
            <br /><br /><br /><br /><br />
            <p style="text-align:center"> Tổng doanh thu khách sạn: @Model.ToString("0,0") </p>
            <br /><br /><br /><br /><br />
        </div>
    </div>
</body>
</html>

